<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shufensoft.crm.biz.dao.generation.point.PointTransferMapper" >
  <resultMap id="BaseResultMap" type="com.shufensoft.crm.biz.domain.generation.point.PointTransfer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="to_user_id" property="toUserId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="gmt_transfer" property="gmtTransfer" jdbcType="TIMESTAMP" />
    <result column="transfer_method" property="transferMethod" jdbcType="VARCHAR" />
    <result column="transfer_method_id" property="transferMethodId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_modified, created_by, modified_by, is_deleted, seller_id, user_id, 
    to_user_id, amount, gmt_transfer, transfer_method, transfer_method_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointTransferExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <if test="!definedQueryCoumns" >
      <include refid="Base_Column_List" />
    </if>
    <if test="definedQueryCoumns" >
      ${queryCoumns}
    </if>
    from point_transfer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from point_transfer
    where id = #{id,jdbcType=BIGINT}
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update point_transfer
    set IS_DELETED = '1'
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointTransferExample" >
    update point_transfer
    set IS_DELETED = '1'
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointTransfer" >
    insert into point_transfer (id, gmt_created, gmt_modified, 
      created_by, modified_by, is_deleted, 
      seller_id, user_id, to_user_id, 
      amount, gmt_transfer, transfer_method, 
      transfer_method_id)
    values (#{id,jdbcType=BIGINT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{toUserId,jdbcType=BIGINT}, 
      #{amount,jdbcType=BIGINT}, #{gmtTransfer,jdbcType=TIMESTAMP}, #{transferMethod,jdbcType=VARCHAR}, 
      #{transferMethodId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointTransfer" >
    insert into point_transfer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="toUserId != null" >
        to_user_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="gmtTransfer != null" >
        gmt_transfer,
      </if>
      <if test="transferMethod != null" >
        transfer_method,
      </if>
      <if test="transferMethodId != null" >
        transfer_method_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="toUserId != null" >
        #{toUserId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="gmtTransfer != null" >
        #{gmtTransfer,jdbcType=TIMESTAMP},
      </if>
      <if test="transferMethod != null" >
        #{transferMethod,jdbcType=VARCHAR},
      </if>
      <if test="transferMethodId != null" >
        #{transferMethodId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointTransferExample" resultType="java.lang.Integer" >
    select count(*) from point_transfer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update point_transfer
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.userId!=null and record.userIdExpression==null" >
          user_id = #{record.userId,jdbcType=BIGINT},
        </if>
        <if test="record.userIdExpression!=null" >
          user_id = ${record.userIdExpression},
        </if>
        <if test="record.toUserId!=null and record.toUserIdExpression==null" >
          to_user_id = #{record.toUserId,jdbcType=BIGINT},
        </if>
        <if test="record.toUserIdExpression!=null" >
          to_user_id = ${record.toUserIdExpression},
        </if>
        <if test="record.amount!=null and record.amountExpression==null" >
          amount = #{record.amount,jdbcType=BIGINT},
        </if>
        <if test="record.amountExpression!=null" >
          amount = ${record.amountExpression},
        </if>
        <if test="record.gmtTransfer!=null and record.gmtTransferExpression==null" >
          gmt_transfer = #{record.gmtTransfer,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtTransferExpression!=null" >
          gmt_transfer = ${record.gmtTransferExpression},
        </if>
        <if test="record.transferMethod!=null and record.transferMethodExpression==null" >
          transfer_method = #{record.transferMethod,jdbcType=VARCHAR},
        </if>
        <if test="record.transferMethodExpression!=null" >
          transfer_method = ${record.transferMethodExpression},
        </if>
        <if test="record.transferMethodId!=null and record.transferMethodIdExpression==null" >
          transfer_method_id = #{record.transferMethodId,jdbcType=BIGINT},
        </if>
        <if test="record.transferMethodIdExpression!=null" >
          transfer_method_id = ${record.transferMethodIdExpression},
        </if>
      </trim>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update point_transfer
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      to_user_id = #{record.toUserId,jdbcType=BIGINT},
      amount = #{record.amount,jdbcType=BIGINT},
      gmt_transfer = #{record.gmtTransfer,jdbcType=TIMESTAMP},
      transfer_method = #{record.transferMethod,jdbcType=VARCHAR},
      transfer_method_id = #{record.transferMethodId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointTransfer" >
    update point_transfer
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.userId!=null and record.userIdExpression==null" >
          user_id = #{record.userId,jdbcType=BIGINT},
        </if>
        <if test="record.userIdExpression!=null" >
          user_id = ${record.userIdExpression},
        </if>
        <if test="record.toUserId!=null and record.toUserIdExpression==null" >
          to_user_id = #{record.toUserId,jdbcType=BIGINT},
        </if>
        <if test="record.toUserIdExpression!=null" >
          to_user_id = ${record.toUserIdExpression},
        </if>
        <if test="record.amount!=null and record.amountExpression==null" >
          amount = #{record.amount,jdbcType=BIGINT},
        </if>
        <if test="record.amountExpression!=null" >
          amount = ${record.amountExpression},
        </if>
        <if test="record.gmtTransfer!=null and record.gmtTransferExpression==null" >
          gmt_transfer = #{record.gmtTransfer,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtTransferExpression!=null" >
          gmt_transfer = ${record.gmtTransferExpression},
        </if>
        <if test="record.transferMethod!=null and record.transferMethodExpression==null" >
          transfer_method = #{record.transferMethod,jdbcType=VARCHAR},
        </if>
        <if test="record.transferMethodExpression!=null" >
          transfer_method = ${record.transferMethodExpression},
        </if>
        <if test="record.transferMethodId!=null and record.transferMethodIdExpression==null" >
          transfer_method_id = #{record.transferMethodId,jdbcType=BIGINT},
        </if>
        <if test="record.transferMethodIdExpression!=null" >
          transfer_method_id = ${record.transferMethodIdExpression},
        </if>
      </trim>
    </set>
    where record.id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointTransfer" >
    update point_transfer
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      to_user_id = #{toUserId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=BIGINT},
      gmt_transfer = #{gmtTransfer,jdbcType=TIMESTAMP},
      transfer_method = #{transferMethod,jdbcType=VARCHAR},
      transfer_method_id = #{transferMethodId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>