<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shufensoft.crm.biz.dao.generation.point.PointExchangeMapper" >
  <resultMap id="BaseResultMap" type="com.shufensoft.crm.biz.domain.generation.point.PointExchange" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="max_status" property="maxStatus" jdbcType="BIGINT" />
    <result column="min_status" property="minStatus" jdbcType="BIGINT" />
    <result column="avg_status" property="avgStatus" jdbcType="BIGINT" />
    <result column="count_status" property="countStatus" jdbcType="BIGINT" />
    <result column="sum_status" property="sumStatus" jdbcType="VARCHAR" />
    <result column="max_exchange_method" property="maxExchangeMethod" jdbcType="BIGINT" />
    <result column="min_exchange_method" property="minExchangeMethod" jdbcType="BIGINT" />
    <result column="avg_exchange_method" property="avgExchangeMethod" jdbcType="BIGINT" />
    <result column="count_exchange_method" property="countExchangeMethod" jdbcType="BIGINT" />
    <result column="sum_exchange_method" property="sumExchangeMethod" jdbcType="VARCHAR" />
    <result column="max_exchange_present_amount" property="maxExchangePresentAmount" jdbcType="BIGINT" />
    <result column="min_exchange_present_amount" property="minExchangePresentAmount" jdbcType="BIGINT" />
    <result column="avg_exchange_present_amount" property="avgExchangePresentAmount" jdbcType="BIGINT" />
    <result column="count_exchange_present_amount" property="countExchangePresentAmount" jdbcType="BIGINT" />
    <result column="sum_exchange_present_amount" property="sumExchangePresentAmount" jdbcType="BIGINT" />
    <result column="max_exchange_id" property="maxExchangeId" jdbcType="BIGINT" />
    <result column="min_exchange_id" property="minExchangeId" jdbcType="BIGINT" />
    <result column="avg_exchange_id" property="avgExchangeId" jdbcType="BIGINT" />
    <result column="count_exchange_id" property="countExchangeId" jdbcType="BIGINT" />
    <result column="sum_exchange_id" property="sumExchangeId" jdbcType="BIGINT" />
    <result column="max_point_amount" property="maxPointAmount" jdbcType="BIGINT" />
    <result column="min_point_amount" property="minPointAmount" jdbcType="BIGINT" />
    <result column="avg_point_amount" property="avgPointAmount" jdbcType="BIGINT" />
    <result column="count_point_amount" property="countPointAmount" jdbcType="BIGINT" />
    <result column="sum_point_amount" property="sumPointAmount" jdbcType="BIGINT" />
    <result column="max_user_id" property="maxUserId" jdbcType="BIGINT" />
    <result column="min_user_id" property="minUserId" jdbcType="BIGINT" />
    <result column="avg_user_id" property="avgUserId" jdbcType="BIGINT" />
    <result column="count_user_id" property="countUserId" jdbcType="BIGINT" />
    <result column="sum_user_id" property="sumUserId" jdbcType="BIGINT" />
    <result column="max_seller_id" property="maxSellerId" jdbcType="BIGINT" />
    <result column="min_seller_id" property="minSellerId" jdbcType="BIGINT" />
    <result column="avg_seller_id" property="avgSellerId" jdbcType="BIGINT" />
    <result column="count_seller_id" property="countSellerId" jdbcType="BIGINT" />
    <result column="sum_seller_id" property="sumSellerId" jdbcType="BIGINT" />
    <result column="max_is_deleted" property="maxIsDeleted" jdbcType="BIGINT" />
    <result column="min_is_deleted" property="minIsDeleted" jdbcType="BIGINT" />
    <result column="avg_is_deleted" property="avgIsDeleted" jdbcType="BIGINT" />
    <result column="count_is_deleted" property="countIsDeleted" jdbcType="BIGINT" />
    <result column="sum_is_deleted" property="sumIsDeleted" jdbcType="VARCHAR" />
    <result column="max_modified_by" property="maxModifiedBy" jdbcType="BIGINT" />
    <result column="min_modified_by" property="minModifiedBy" jdbcType="BIGINT" />
    <result column="avg_modified_by" property="avgModifiedBy" jdbcType="BIGINT" />
    <result column="count_modified_by" property="countModifiedBy" jdbcType="BIGINT" />
    <result column="sum_modified_by" property="sumModifiedBy" jdbcType="VARCHAR" />
    <result column="max_created_by" property="maxCreatedBy" jdbcType="BIGINT" />
    <result column="min_created_by" property="minCreatedBy" jdbcType="BIGINT" />
    <result column="avg_created_by" property="avgCreatedBy" jdbcType="BIGINT" />
    <result column="count_created_by" property="countCreatedBy" jdbcType="BIGINT" />
    <result column="sum_created_by" property="sumCreatedBy" jdbcType="VARCHAR" />
    <result column="max_gmt_modified" property="maxGmtModified" jdbcType="BIGINT" />
    <result column="min_gmt_modified" property="minGmtModified" jdbcType="BIGINT" />
    <result column="avg_gmt_modified" property="avgGmtModified" jdbcType="BIGINT" />
    <result column="count_gmt_modified" property="countGmtModified" jdbcType="BIGINT" />
    <result column="sum_gmt_modified" property="sumGmtModified" jdbcType="TIMESTAMP" />
    <result column="max_gmt_created" property="maxGmtCreated" jdbcType="BIGINT" />
    <result column="min_gmt_created" property="minGmtCreated" jdbcType="BIGINT" />
    <result column="avg_gmt_created" property="avgGmtCreated" jdbcType="BIGINT" />
    <result column="count_gmt_created" property="countGmtCreated" jdbcType="BIGINT" />
    <result column="sum_gmt_created" property="sumGmtCreated" jdbcType="TIMESTAMP" />
    <result column="max_id" property="maxId" jdbcType="BIGINT" />
    <result column="min_id" property="minId" jdbcType="BIGINT" />
    <result column="avg_id" property="avgId" jdbcType="BIGINT" />
    <result column="count_id" property="countId" jdbcType="BIGINT" />
    <result column="sum_id" property="sumId" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="point_amount" property="pointAmount" jdbcType="BIGINT" />
    <result column="exchange_id" property="exchangeId" jdbcType="BIGINT" />
    <result column="exchange_present_amount" property="exchangePresentAmount" jdbcType="BIGINT" />
    <result column="exchange_method" property="exchangeMethod" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_modified, created_by, modified_by, is_deleted, seller_id, user_id, 
    point_amount, exchange_id, exchange_present_amount, exchange_method, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointExchangeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <if test="!definedQueryColumns" >
      <include refid="Base_Column_List" />
    </if>
    <if test="definedQueryColumns" >
      <foreach collection="queryColumns" item="queryColumn" separator="," >
        ${queryColumn}
      </foreach>
    </if>
    from point_exchange
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from point_exchange
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update point_exchange
    set IS_DELETED = '1'
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointExchangeExample" >
    update point_exchange
    set IS_DELETED = '1'
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointExchange" useGeneratedKeys="true" keyProperty="id" >
    insert into point_exchange (id, gmt_created, gmt_modified, 
      created_by, modified_by, is_deleted, 
      seller_id, user_id, point_amount, 
      exchange_id, exchange_present_amount, exchange_method, 
      status)
    values (#{id,jdbcType=BIGINT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{pointAmount,jdbcType=BIGINT}, 
      #{exchangeId,jdbcType=BIGINT}, #{exchangePresentAmount,jdbcType=BIGINT}, #{exchangeMethod,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointExchange" useGeneratedKeys="true" keyProperty="id" >
    insert into point_exchange
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="pointAmount != null" >
        point_amount,
      </if>
      <if test="exchangeId != null" >
        exchange_id,
      </if>
      <if test="exchangePresentAmount != null" >
        exchange_present_amount,
      </if>
      <if test="exchangeMethod != null" >
        exchange_method,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="pointAmount != null" >
        #{pointAmount,jdbcType=BIGINT},
      </if>
      <if test="exchangeId != null" >
        #{exchangeId,jdbcType=BIGINT},
      </if>
      <if test="exchangePresentAmount != null" >
        #{exchangePresentAmount,jdbcType=BIGINT},
      </if>
      <if test="exchangeMethod != null" >
        #{exchangeMethod,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointExchangeExample" resultType="java.lang.Integer" >
    select count(*) from point_exchange
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update point_exchange
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.userId!=null and record.userIdExpression==null" >
          user_id = #{record.userId,jdbcType=BIGINT},
        </if>
        <if test="record.userIdExpression!=null" >
          user_id = ${record.userIdExpression},
        </if>
        <if test="record.pointAmount!=null and record.pointAmountExpression==null" >
          point_amount = #{record.pointAmount,jdbcType=BIGINT},
        </if>
        <if test="record.pointAmountExpression!=null" >
          point_amount = ${record.pointAmountExpression},
        </if>
        <if test="record.exchangeId!=null and record.exchangeIdExpression==null" >
          exchange_id = #{record.exchangeId,jdbcType=BIGINT},
        </if>
        <if test="record.exchangeIdExpression!=null" >
          exchange_id = ${record.exchangeIdExpression},
        </if>
        <if test="record.exchangePresentAmount!=null and record.exchangePresentAmountExpression==null" >
          exchange_present_amount = #{record.exchangePresentAmount,jdbcType=BIGINT},
        </if>
        <if test="record.exchangePresentAmountExpression!=null" >
          exchange_present_amount = ${record.exchangePresentAmountExpression},
        </if>
        <if test="record.exchangeMethod!=null and record.exchangeMethodExpression==null" >
          exchange_method = #{record.exchangeMethod,jdbcType=VARCHAR},
        </if>
        <if test="record.exchangeMethodExpression!=null" >
          exchange_method = ${record.exchangeMethodExpression},
        </if>
        <if test="record.status!=null and record.statusExpression==null" >
          status = #{record.status,jdbcType=VARCHAR},
        </if>
        <if test="record.statusExpression!=null" >
          status = ${record.statusExpression},
        </if>
      </trim>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update point_exchange
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      point_amount = #{record.pointAmount,jdbcType=BIGINT},
      exchange_id = #{record.exchangeId,jdbcType=BIGINT},
      exchange_present_amount = #{record.exchangePresentAmount,jdbcType=BIGINT},
      exchange_method = #{record.exchangeMethod,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointExchange" >
    update point_exchange
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.userId!=null and record.userIdExpression==null" >
          user_id = #{record.userId,jdbcType=BIGINT},
        </if>
        <if test="record.userIdExpression!=null" >
          user_id = ${record.userIdExpression},
        </if>
        <if test="record.pointAmount!=null and record.pointAmountExpression==null" >
          point_amount = #{record.pointAmount,jdbcType=BIGINT},
        </if>
        <if test="record.pointAmountExpression!=null" >
          point_amount = ${record.pointAmountExpression},
        </if>
        <if test="record.exchangeId!=null and record.exchangeIdExpression==null" >
          exchange_id = #{record.exchangeId,jdbcType=BIGINT},
        </if>
        <if test="record.exchangeIdExpression!=null" >
          exchange_id = ${record.exchangeIdExpression},
        </if>
        <if test="record.exchangePresentAmount!=null and record.exchangePresentAmountExpression==null" >
          exchange_present_amount = #{record.exchangePresentAmount,jdbcType=BIGINT},
        </if>
        <if test="record.exchangePresentAmountExpression!=null" >
          exchange_present_amount = ${record.exchangePresentAmountExpression},
        </if>
        <if test="record.exchangeMethod!=null and record.exchangeMethodExpression==null" >
          exchange_method = #{record.exchangeMethod,jdbcType=VARCHAR},
        </if>
        <if test="record.exchangeMethodExpression!=null" >
          exchange_method = ${record.exchangeMethodExpression},
        </if>
        <if test="record.status!=null and record.statusExpression==null" >
          status = #{record.status,jdbcType=VARCHAR},
        </if>
        <if test="record.statusExpression!=null" >
          status = ${record.statusExpression},
        </if>
      </trim>
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shufensoft.crm.biz.domain.generation.point.PointExchange" >
    update point_exchange
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      point_amount = #{pointAmount,jdbcType=BIGINT},
      exchange_id = #{exchangeId,jdbcType=BIGINT},
      exchange_present_amount = #{exchangePresentAmount,jdbcType=BIGINT},
      exchange_method = #{exchangeMethod,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>