<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shufensoft.crm.biz.dao.generation.activity.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.shufensoft.crm.biz.domain.generation.activity.Activity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="max_status" property="maxStatus" jdbcType="BIGINT" />
    <result column="min_status" property="minStatus" jdbcType="BIGINT" />
    <result column="avg_status" property="avgStatus" jdbcType="BIGINT" />
    <result column="count_status" property="countStatus" jdbcType="BIGINT" />
    <result column="sum_status" property="sumStatus" jdbcType="VARCHAR" />
    <result column="count_distinct_status" property="countDistinctStatus" jdbcType="BIGINT" />
    <result column="max_end_date" property="maxEndDate" jdbcType="BIGINT" />
    <result column="min_end_date" property="minEndDate" jdbcType="BIGINT" />
    <result column="avg_end_date" property="avgEndDate" jdbcType="BIGINT" />
    <result column="count_end_date" property="countEndDate" jdbcType="BIGINT" />
    <result column="sum_end_date" property="sumEndDate" jdbcType="TIMESTAMP" />
    <result column="count_distinct_end_date" property="countDistinctEndDate" jdbcType="BIGINT" />
    <result column="max_begin_date" property="maxBeginDate" jdbcType="BIGINT" />
    <result column="min_begin_date" property="minBeginDate" jdbcType="BIGINT" />
    <result column="avg_begin_date" property="avgBeginDate" jdbcType="BIGINT" />
    <result column="count_begin_date" property="countBeginDate" jdbcType="BIGINT" />
    <result column="sum_begin_date" property="sumBeginDate" jdbcType="TIMESTAMP" />
    <result column="count_distinct_begin_date" property="countDistinctBeginDate" jdbcType="BIGINT" />
    <result column="max_activity_desc" property="maxActivityDesc" jdbcType="BIGINT" />
    <result column="min_activity_desc" property="minActivityDesc" jdbcType="BIGINT" />
    <result column="avg_activity_desc" property="avgActivityDesc" jdbcType="BIGINT" />
    <result column="count_activity_desc" property="countActivityDesc" jdbcType="BIGINT" />
    <result column="sum_activity_desc" property="sumActivityDesc" jdbcType="VARCHAR" />
    <result column="count_distinct_activity_desc" property="countDistinctActivityDesc" jdbcType="BIGINT" />
    <result column="max_activity_type" property="maxActivityType" jdbcType="BIGINT" />
    <result column="min_activity_type" property="minActivityType" jdbcType="BIGINT" />
    <result column="avg_activity_type" property="avgActivityType" jdbcType="BIGINT" />
    <result column="count_activity_type" property="countActivityType" jdbcType="BIGINT" />
    <result column="sum_activity_type" property="sumActivityType" jdbcType="VARCHAR" />
    <result column="count_distinct_activity_type" property="countDistinctActivityType" jdbcType="BIGINT" />
    <result column="max_activity_photo_url" property="maxActivityPhotoUrl" jdbcType="BIGINT" />
    <result column="min_activity_photo_url" property="minActivityPhotoUrl" jdbcType="BIGINT" />
    <result column="avg_activity_photo_url" property="avgActivityPhotoUrl" jdbcType="BIGINT" />
    <result column="count_activity_photo_url" property="countActivityPhotoUrl" jdbcType="BIGINT" />
    <result column="sum_activity_photo_url" property="sumActivityPhotoUrl" jdbcType="VARCHAR" />
    <result column="count_distinct_activity_photo_url" property="countDistinctActivityPhotoUrl" jdbcType="BIGINT" />
    <result column="max_activity_name" property="maxActivityName" jdbcType="BIGINT" />
    <result column="min_activity_name" property="minActivityName" jdbcType="BIGINT" />
    <result column="avg_activity_name" property="avgActivityName" jdbcType="BIGINT" />
    <result column="count_activity_name" property="countActivityName" jdbcType="BIGINT" />
    <result column="sum_activity_name" property="sumActivityName" jdbcType="VARCHAR" />
    <result column="count_distinct_activity_name" property="countDistinctActivityName" jdbcType="BIGINT" />
    <result column="max_activity_id" property="maxActivityId" jdbcType="BIGINT" />
    <result column="min_activity_id" property="minActivityId" jdbcType="BIGINT" />
    <result column="avg_activity_id" property="avgActivityId" jdbcType="BIGINT" />
    <result column="count_activity_id" property="countActivityId" jdbcType="BIGINT" />
    <result column="sum_activity_id" property="sumActivityId" jdbcType="BIGINT" />
    <result column="count_distinct_activity_id" property="countDistinctActivityId" jdbcType="BIGINT" />
    <result column="max_seller_id" property="maxSellerId" jdbcType="BIGINT" />
    <result column="min_seller_id" property="minSellerId" jdbcType="BIGINT" />
    <result column="avg_seller_id" property="avgSellerId" jdbcType="BIGINT" />
    <result column="count_seller_id" property="countSellerId" jdbcType="BIGINT" />
    <result column="sum_seller_id" property="sumSellerId" jdbcType="BIGINT" />
    <result column="count_distinct_seller_id" property="countDistinctSellerId" jdbcType="BIGINT" />
    <result column="max_is_deleted" property="maxIsDeleted" jdbcType="BIGINT" />
    <result column="min_is_deleted" property="minIsDeleted" jdbcType="BIGINT" />
    <result column="avg_is_deleted" property="avgIsDeleted" jdbcType="BIGINT" />
    <result column="count_is_deleted" property="countIsDeleted" jdbcType="BIGINT" />
    <result column="sum_is_deleted" property="sumIsDeleted" jdbcType="VARCHAR" />
    <result column="count_distinct_is_deleted" property="countDistinctIsDeleted" jdbcType="BIGINT" />
    <result column="max_modified_by" property="maxModifiedBy" jdbcType="BIGINT" />
    <result column="min_modified_by" property="minModifiedBy" jdbcType="BIGINT" />
    <result column="avg_modified_by" property="avgModifiedBy" jdbcType="BIGINT" />
    <result column="count_modified_by" property="countModifiedBy" jdbcType="BIGINT" />
    <result column="sum_modified_by" property="sumModifiedBy" jdbcType="VARCHAR" />
    <result column="count_distinct_modified_by" property="countDistinctModifiedBy" jdbcType="BIGINT" />
    <result column="max_created_by" property="maxCreatedBy" jdbcType="BIGINT" />
    <result column="min_created_by" property="minCreatedBy" jdbcType="BIGINT" />
    <result column="avg_created_by" property="avgCreatedBy" jdbcType="BIGINT" />
    <result column="count_created_by" property="countCreatedBy" jdbcType="BIGINT" />
    <result column="sum_created_by" property="sumCreatedBy" jdbcType="VARCHAR" />
    <result column="count_distinct_created_by" property="countDistinctCreatedBy" jdbcType="BIGINT" />
    <result column="max_gmt_modified" property="maxGmtModified" jdbcType="BIGINT" />
    <result column="min_gmt_modified" property="minGmtModified" jdbcType="BIGINT" />
    <result column="avg_gmt_modified" property="avgGmtModified" jdbcType="BIGINT" />
    <result column="count_gmt_modified" property="countGmtModified" jdbcType="BIGINT" />
    <result column="sum_gmt_modified" property="sumGmtModified" jdbcType="TIMESTAMP" />
    <result column="count_distinct_gmt_modified" property="countDistinctGmtModified" jdbcType="BIGINT" />
    <result column="max_gmt_created" property="maxGmtCreated" jdbcType="BIGINT" />
    <result column="min_gmt_created" property="minGmtCreated" jdbcType="BIGINT" />
    <result column="avg_gmt_created" property="avgGmtCreated" jdbcType="BIGINT" />
    <result column="count_gmt_created" property="countGmtCreated" jdbcType="BIGINT" />
    <result column="sum_gmt_created" property="sumGmtCreated" jdbcType="TIMESTAMP" />
    <result column="count_distinct_gmt_created" property="countDistinctGmtCreated" jdbcType="BIGINT" />
    <result column="max_id" property="maxId" jdbcType="BIGINT" />
    <result column="min_id" property="minId" jdbcType="BIGINT" />
    <result column="avg_id" property="avgId" jdbcType="BIGINT" />
    <result column="count_id" property="countId" jdbcType="BIGINT" />
    <result column="sum_id" property="sumId" jdbcType="BIGINT" />
    <result column="count_distinct_id" property="countDistinctId" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="activity_photo_url" property="activityPhotoUrl" jdbcType="VARCHAR" />
    <result column="activity_type" property="activityType" jdbcType="VARCHAR" />
    <result column="activity_desc" property="activityDesc" jdbcType="VARCHAR" />
    <result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_modified, created_by, modified_by, is_deleted, seller_id, activity_id, 
    activity_name, activity_photo_url, activity_type, activity_desc, begin_date, end_date, 
    status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shufensoft.crm.biz.domain.generation.activity.ActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <if test="!definedQueryColumns" >
      <include refid="Base_Column_List" />
    </if>
    <if test="definedQueryColumns" >
      <foreach collection="queryColumns" item="queryColumn" separator="," >
        ${queryColumn}
      </foreach>
    </if>
    from activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update activity
    set IS_DELETED = '1'
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shufensoft.crm.biz.domain.generation.activity.ActivityExample" >
    update activity
    set IS_DELETED = '1'
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shufensoft.crm.biz.domain.generation.activity.Activity" useGeneratedKeys="true" keyProperty="id" >
    insert into activity (id, gmt_created, gmt_modified, 
      created_by, modified_by, is_deleted, 
      seller_id, activity_id, activity_name, 
      activity_photo_url, activity_type, activity_desc, 
      begin_date, end_date, status
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{activityName,jdbcType=VARCHAR}, 
      #{activityPhotoUrl,jdbcType=VARCHAR}, #{activityType,jdbcType=VARCHAR}, #{activityDesc,jdbcType=VARCHAR}, 
      #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shufensoft.crm.biz.domain.generation.activity.Activity" useGeneratedKeys="true" keyProperty="id" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="activityPhotoUrl != null" >
        activity_photo_url,
      </if>
      <if test="activityType != null" >
        activity_type,
      </if>
      <if test="activityDesc != null" >
        activity_desc,
      </if>
      <if test="beginDate != null" >
        begin_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityPhotoUrl != null" >
        #{activityPhotoUrl,jdbcType=VARCHAR},
      </if>
      <if test="activityType != null" >
        #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="activityDesc != null" >
        #{activityDesc,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shufensoft.crm.biz.domain.generation.activity.ActivityExample" resultType="java.lang.Integer" >
    select count(*) from activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update activity
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.activityId!=null and record.activityIdExpression==null" >
          activity_id = #{record.activityId,jdbcType=BIGINT},
        </if>
        <if test="record.activityIdExpression!=null" >
          activity_id = ${record.activityIdExpression},
        </if>
        <if test="record.activityName!=null and record.activityNameExpression==null" >
          activity_name = #{record.activityName,jdbcType=VARCHAR},
        </if>
        <if test="record.activityNameExpression!=null" >
          activity_name = ${record.activityNameExpression},
        </if>
        <if test="record.activityPhotoUrl!=null and record.activityPhotoUrlExpression==null" >
          activity_photo_url = #{record.activityPhotoUrl,jdbcType=VARCHAR},
        </if>
        <if test="record.activityPhotoUrlExpression!=null" >
          activity_photo_url = ${record.activityPhotoUrlExpression},
        </if>
        <if test="record.activityType!=null and record.activityTypeExpression==null" >
          activity_type = #{record.activityType,jdbcType=VARCHAR},
        </if>
        <if test="record.activityTypeExpression!=null" >
          activity_type = ${record.activityTypeExpression},
        </if>
        <if test="record.activityDesc!=null and record.activityDescExpression==null" >
          activity_desc = #{record.activityDesc,jdbcType=VARCHAR},
        </if>
        <if test="record.activityDescExpression!=null" >
          activity_desc = ${record.activityDescExpression},
        </if>
        <if test="record.beginDate!=null and record.beginDateExpression==null" >
          begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
        </if>
        <if test="record.beginDateExpression!=null" >
          begin_date = ${record.beginDateExpression},
        </if>
        <if test="record.endDate!=null and record.endDateExpression==null" >
          end_date = #{record.endDate,jdbcType=TIMESTAMP},
        </if>
        <if test="record.endDateExpression!=null" >
          end_date = ${record.endDateExpression},
        </if>
        <if test="record.status!=null and record.statusExpression==null" >
          status = #{record.status,jdbcType=VARCHAR},
        </if>
        <if test="record.statusExpression!=null" >
          status = ${record.statusExpression},
        </if>
      </trim>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update activity
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      activity_id = #{record.activityId,jdbcType=BIGINT},
      activity_name = #{record.activityName,jdbcType=VARCHAR},
      activity_photo_url = #{record.activityPhotoUrl,jdbcType=VARCHAR},
      activity_type = #{record.activityType,jdbcType=VARCHAR},
      activity_desc = #{record.activityDesc,jdbcType=VARCHAR},
      begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shufensoft.crm.biz.domain.generation.activity.Activity" >
    update activity
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.activityId!=null and record.activityIdExpression==null" >
          activity_id = #{record.activityId,jdbcType=BIGINT},
        </if>
        <if test="record.activityIdExpression!=null" >
          activity_id = ${record.activityIdExpression},
        </if>
        <if test="record.activityName!=null and record.activityNameExpression==null" >
          activity_name = #{record.activityName,jdbcType=VARCHAR},
        </if>
        <if test="record.activityNameExpression!=null" >
          activity_name = ${record.activityNameExpression},
        </if>
        <if test="record.activityPhotoUrl!=null and record.activityPhotoUrlExpression==null" >
          activity_photo_url = #{record.activityPhotoUrl,jdbcType=VARCHAR},
        </if>
        <if test="record.activityPhotoUrlExpression!=null" >
          activity_photo_url = ${record.activityPhotoUrlExpression},
        </if>
        <if test="record.activityType!=null and record.activityTypeExpression==null" >
          activity_type = #{record.activityType,jdbcType=VARCHAR},
        </if>
        <if test="record.activityTypeExpression!=null" >
          activity_type = ${record.activityTypeExpression},
        </if>
        <if test="record.activityDesc!=null and record.activityDescExpression==null" >
          activity_desc = #{record.activityDesc,jdbcType=VARCHAR},
        </if>
        <if test="record.activityDescExpression!=null" >
          activity_desc = ${record.activityDescExpression},
        </if>
        <if test="record.beginDate!=null and record.beginDateExpression==null" >
          begin_date = #{record.beginDate,jdbcType=TIMESTAMP},
        </if>
        <if test="record.beginDateExpression!=null" >
          begin_date = ${record.beginDateExpression},
        </if>
        <if test="record.endDate!=null and record.endDateExpression==null" >
          end_date = #{record.endDate,jdbcType=TIMESTAMP},
        </if>
        <if test="record.endDateExpression!=null" >
          end_date = ${record.endDateExpression},
        </if>
        <if test="record.status!=null and record.statusExpression==null" >
          status = #{record.status,jdbcType=VARCHAR},
        </if>
        <if test="record.statusExpression!=null" >
          status = ${record.statusExpression},
        </if>
      </trim>
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shufensoft.crm.biz.domain.generation.activity.Activity" >
    update activity
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=BIGINT},
      activity_id = #{activityId,jdbcType=BIGINT},
      activity_name = #{activityName,jdbcType=VARCHAR},
      activity_photo_url = #{activityPhotoUrl,jdbcType=VARCHAR},
      activity_type = #{activityType,jdbcType=VARCHAR},
      activity_desc = #{activityDesc,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>