<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shufensoft.crm.biz.dao.generation.user.UserTaoBaoMapper" >
  <resultMap id="BaseResultMap" type="com.shufensoft.crm.biz.domain.generation.user.UserTaoBao" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="max_buyer_area" property="maxBuyerArea" jdbcType="BIGINT" />
    <result column="min_buyer_area" property="minBuyerArea" jdbcType="BIGINT" />
    <result column="avg_buyer_area" property="avgBuyerArea" jdbcType="BIGINT" />
    <result column="count_buyer_area" property="countBuyerArea" jdbcType="BIGINT" />
    <result column="sum_buyer_area" property="sumBuyerArea" jdbcType="VARCHAR" />
    <result column="count_distinct_buyer_area" property="countDistinctBuyerArea" jdbcType="BIGINT" />
    <result column="max_area_id" property="maxAreaId" jdbcType="BIGINT" />
    <result column="min_area_id" property="minAreaId" jdbcType="BIGINT" />
    <result column="avg_area_id" property="avgAreaId" jdbcType="BIGINT" />
    <result column="count_area_id" property="countAreaId" jdbcType="BIGINT" />
    <result column="sum_area_id" property="sumAreaId" jdbcType="VARCHAR" />
    <result column="count_distinct_area_id" property="countDistinctAreaId" jdbcType="BIGINT" />
    <result column="max_buyer_email" property="maxBuyerEmail" jdbcType="BIGINT" />
    <result column="min_buyer_email" property="minBuyerEmail" jdbcType="BIGINT" />
    <result column="avg_buyer_email" property="avgBuyerEmail" jdbcType="BIGINT" />
    <result column="count_buyer_email" property="countBuyerEmail" jdbcType="BIGINT" />
    <result column="sum_buyer_email" property="sumBuyerEmail" jdbcType="VARCHAR" />
    <result column="count_distinct_buyer_email" property="countDistinctBuyerEmail" jdbcType="BIGINT" />
    <result column="max_buyer_nick" property="maxBuyerNick" jdbcType="BIGINT" />
    <result column="min_buyer_nick" property="minBuyerNick" jdbcType="BIGINT" />
    <result column="avg_buyer_nick" property="avgBuyerNick" jdbcType="BIGINT" />
    <result column="count_buyer_nick" property="countBuyerNick" jdbcType="BIGINT" />
    <result column="sum_buyer_nick" property="sumBuyerNick" jdbcType="VARCHAR" />
    <result column="count_distinct_buyer_nick" property="countDistinctBuyerNick" jdbcType="BIGINT" />
    <result column="max_alipay_id" property="maxAlipayId" jdbcType="BIGINT" />
    <result column="min_alipay_id" property="minAlipayId" jdbcType="BIGINT" />
    <result column="avg_alipay_id" property="avgAlipayId" jdbcType="BIGINT" />
    <result column="count_alipay_id" property="countAlipayId" jdbcType="BIGINT" />
    <result column="sum_alipay_id" property="sumAlipayId" jdbcType="BIGINT" />
    <result column="count_distinct_alipay_id" property="countDistinctAlipayId" jdbcType="BIGINT" />
    <result column="max_buyer_alipay_no" property="maxBuyerAlipayNo" jdbcType="BIGINT" />
    <result column="min_buyer_alipay_no" property="minBuyerAlipayNo" jdbcType="BIGINT" />
    <result column="avg_buyer_alipay_no" property="avgBuyerAlipayNo" jdbcType="BIGINT" />
    <result column="count_buyer_alipay_no" property="countBuyerAlipayNo" jdbcType="BIGINT" />
    <result column="sum_buyer_alipay_no" property="sumBuyerAlipayNo" jdbcType="VARCHAR" />
    <result column="count_distinct_buyer_alipay_no" property="countDistinctBuyerAlipayNo" jdbcType="BIGINT" />
    <result column="max_shop_id" property="maxShopId" jdbcType="BIGINT" />
    <result column="min_shop_id" property="minShopId" jdbcType="BIGINT" />
    <result column="avg_shop_id" property="avgShopId" jdbcType="BIGINT" />
    <result column="count_shop_id" property="countShopId" jdbcType="BIGINT" />
    <result column="sum_shop_id" property="sumShopId" jdbcType="BIGINT" />
    <result column="count_distinct_shop_id" property="countDistinctShopId" jdbcType="BIGINT" />
    <result column="max_seller_id" property="maxSellerId" jdbcType="BIGINT" />
    <result column="min_seller_id" property="minSellerId" jdbcType="BIGINT" />
    <result column="avg_seller_id" property="avgSellerId" jdbcType="BIGINT" />
    <result column="count_seller_id" property="countSellerId" jdbcType="BIGINT" />
    <result column="sum_seller_id" property="sumSellerId" jdbcType="BIGINT" />
    <result column="count_distinct_seller_id" property="countDistinctSellerId" jdbcType="BIGINT" />
    <result column="max_user_id_tb" property="maxUserIdTb" jdbcType="BIGINT" />
    <result column="min_user_id_tb" property="minUserIdTb" jdbcType="BIGINT" />
    <result column="avg_user_id_tb" property="avgUserIdTb" jdbcType="BIGINT" />
    <result column="count_user_id_tb" property="countUserIdTb" jdbcType="BIGINT" />
    <result column="sum_user_id_tb" property="sumUserIdTb" jdbcType="BIGINT" />
    <result column="count_distinct_user_id_tb" property="countDistinctUserIdTb" jdbcType="BIGINT" />
    <result column="max_is_deleted" property="maxIsDeleted" jdbcType="BIGINT" />
    <result column="min_is_deleted" property="minIsDeleted" jdbcType="BIGINT" />
    <result column="avg_is_deleted" property="avgIsDeleted" jdbcType="BIGINT" />
    <result column="count_is_deleted" property="countIsDeleted" jdbcType="BIGINT" />
    <result column="sum_is_deleted" property="sumIsDeleted" jdbcType="VARCHAR" />
    <result column="count_distinct_is_deleted" property="countDistinctIsDeleted" jdbcType="BIGINT" />
    <result column="max_modified_by" property="maxModifiedBy" jdbcType="BIGINT" />
    <result column="min_modified_by" property="minModifiedBy" jdbcType="BIGINT" />
    <result column="avg_modified_by" property="avgModifiedBy" jdbcType="BIGINT" />
    <result column="count_modified_by" property="countModifiedBy" jdbcType="BIGINT" />
    <result column="sum_modified_by" property="sumModifiedBy" jdbcType="VARCHAR" />
    <result column="count_distinct_modified_by" property="countDistinctModifiedBy" jdbcType="BIGINT" />
    <result column="max_created_by" property="maxCreatedBy" jdbcType="BIGINT" />
    <result column="min_created_by" property="minCreatedBy" jdbcType="BIGINT" />
    <result column="avg_created_by" property="avgCreatedBy" jdbcType="BIGINT" />
    <result column="count_created_by" property="countCreatedBy" jdbcType="BIGINT" />
    <result column="sum_created_by" property="sumCreatedBy" jdbcType="VARCHAR" />
    <result column="count_distinct_created_by" property="countDistinctCreatedBy" jdbcType="BIGINT" />
    <result column="max_gmt_modified" property="maxGmtModified" jdbcType="BIGINT" />
    <result column="min_gmt_modified" property="minGmtModified" jdbcType="BIGINT" />
    <result column="avg_gmt_modified" property="avgGmtModified" jdbcType="BIGINT" />
    <result column="count_gmt_modified" property="countGmtModified" jdbcType="BIGINT" />
    <result column="sum_gmt_modified" property="sumGmtModified" jdbcType="TIMESTAMP" />
    <result column="count_distinct_gmt_modified" property="countDistinctGmtModified" jdbcType="BIGINT" />
    <result column="max_gmt_created" property="maxGmtCreated" jdbcType="BIGINT" />
    <result column="min_gmt_created" property="minGmtCreated" jdbcType="BIGINT" />
    <result column="avg_gmt_created" property="avgGmtCreated" jdbcType="BIGINT" />
    <result column="count_gmt_created" property="countGmtCreated" jdbcType="BIGINT" />
    <result column="sum_gmt_created" property="sumGmtCreated" jdbcType="TIMESTAMP" />
    <result column="count_distinct_gmt_created" property="countDistinctGmtCreated" jdbcType="BIGINT" />
    <result column="max_id" property="maxId" jdbcType="BIGINT" />
    <result column="min_id" property="minId" jdbcType="BIGINT" />
    <result column="avg_id" property="avgId" jdbcType="BIGINT" />
    <result column="count_id" property="countId" jdbcType="BIGINT" />
    <result column="sum_id" property="sumId" jdbcType="BIGINT" />
    <result column="count_distinct_id" property="countDistinctId" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="user_id_tb" property="userIdTb" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="buyer_alipay_no" property="buyerAlipayNo" jdbcType="VARCHAR" />
    <result column="alipay_id" property="alipayId" jdbcType="BIGINT" />
    <result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
    <result column="buyer_email" property="buyerEmail" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="buyer_area" property="buyerArea" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_modified, created_by, modified_by, is_deleted, user_id_tb, seller_id, 
    shop_id, buyer_alipay_no, alipay_id, buyer_nick, buyer_email, area_id, buyer_area
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shufensoft.crm.biz.domain.generation.user.UserTaoBaoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <if test="!definedQueryColumns" >
      <include refid="Base_Column_List" />
    </if>
    <if test="definedQueryColumns" >
      <foreach collection="queryColumns" item="queryColumn" separator="," >
        ${queryColumn}
      </foreach>
    </if>
    from user_taobao
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_taobao
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update user_taobao
    set IS_DELETED = '1'
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shufensoft.crm.biz.domain.generation.user.UserTaoBaoExample" >
    update user_taobao
    set IS_DELETED = '1'
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shufensoft.crm.biz.domain.generation.user.UserTaoBao" useGeneratedKeys="true" keyProperty="id" >
    insert into user_taobao (id, gmt_created, gmt_modified, 
      created_by, modified_by, is_deleted, 
      user_id_tb, seller_id, shop_id, 
      buyer_alipay_no, alipay_id, buyer_nick, 
      buyer_email, area_id, buyer_area
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR}, 
      #{userIdTb,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, 
      #{buyerAlipayNo,jdbcType=VARCHAR}, #{alipayId,jdbcType=BIGINT}, #{buyerNick,jdbcType=VARCHAR}, 
      #{buyerEmail,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, #{buyerArea,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shufensoft.crm.biz.domain.generation.user.UserTaoBao" useGeneratedKeys="true" keyProperty="id" >
    insert into user_taobao
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="userIdTb != null" >
        user_id_tb,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="buyerAlipayNo != null" >
        buyer_alipay_no,
      </if>
      <if test="alipayId != null" >
        alipay_id,
      </if>
      <if test="buyerNick != null" >
        buyer_nick,
      </if>
      <if test="buyerEmail != null" >
        buyer_email,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="buyerArea != null" >
        buyer_area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="userIdTb != null" >
        #{userIdTb,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="buyerAlipayNo != null" >
        #{buyerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null" >
        #{alipayId,jdbcType=BIGINT},
      </if>
      <if test="buyerNick != null" >
        #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null" >
        #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="buyerArea != null" >
        #{buyerArea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shufensoft.crm.biz.domain.generation.user.UserTaoBaoExample" resultType="java.lang.Integer" >
    select count(*) from user_taobao
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_taobao
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.userIdTb!=null and record.userIdTbExpression==null" >
          user_id_tb = #{record.userIdTb,jdbcType=BIGINT},
        </if>
        <if test="record.userIdTbExpression!=null" >
          user_id_tb = ${record.userIdTbExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.shopId!=null and record.shopIdExpression==null" >
          shop_id = #{record.shopId,jdbcType=BIGINT},
        </if>
        <if test="record.shopIdExpression!=null" >
          shop_id = ${record.shopIdExpression},
        </if>
        <if test="record.buyerAlipayNo!=null and record.buyerAlipayNoExpression==null" >
          buyer_alipay_no = #{record.buyerAlipayNo,jdbcType=VARCHAR},
        </if>
        <if test="record.buyerAlipayNoExpression!=null" >
          buyer_alipay_no = ${record.buyerAlipayNoExpression},
        </if>
        <if test="record.alipayId!=null and record.alipayIdExpression==null" >
          alipay_id = #{record.alipayId,jdbcType=BIGINT},
        </if>
        <if test="record.alipayIdExpression!=null" >
          alipay_id = ${record.alipayIdExpression},
        </if>
        <if test="record.buyerNick!=null and record.buyerNickExpression==null" >
          buyer_nick = #{record.buyerNick,jdbcType=VARCHAR},
        </if>
        <if test="record.buyerNickExpression!=null" >
          buyer_nick = ${record.buyerNickExpression},
        </if>
        <if test="record.buyerEmail!=null and record.buyerEmailExpression==null" >
          buyer_email = #{record.buyerEmail,jdbcType=VARCHAR},
        </if>
        <if test="record.buyerEmailExpression!=null" >
          buyer_email = ${record.buyerEmailExpression},
        </if>
        <if test="record.areaId!=null and record.areaIdExpression==null" >
          area_id = #{record.areaId,jdbcType=VARCHAR},
        </if>
        <if test="record.areaIdExpression!=null" >
          area_id = ${record.areaIdExpression},
        </if>
        <if test="record.buyerArea!=null and record.buyerAreaExpression==null" >
          buyer_area = #{record.buyerArea,jdbcType=VARCHAR},
        </if>
        <if test="record.buyerAreaExpression!=null" >
          buyer_area = ${record.buyerAreaExpression},
        </if>
      </trim>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_taobao
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
      user_id_tb = #{record.userIdTb,jdbcType=BIGINT},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      shop_id = #{record.shopId,jdbcType=BIGINT},
      buyer_alipay_no = #{record.buyerAlipayNo,jdbcType=VARCHAR},
      alipay_id = #{record.alipayId,jdbcType=BIGINT},
      buyer_nick = #{record.buyerNick,jdbcType=VARCHAR},
      buyer_email = #{record.buyerEmail,jdbcType=VARCHAR},
      area_id = #{record.areaId,jdbcType=VARCHAR},
      buyer_area = #{record.buyerArea,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shufensoft.crm.biz.domain.generation.user.UserTaoBao" >
    update user_taobao
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.userIdTb!=null and record.userIdTbExpression==null" >
          user_id_tb = #{record.userIdTb,jdbcType=BIGINT},
        </if>
        <if test="record.userIdTbExpression!=null" >
          user_id_tb = ${record.userIdTbExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.shopId!=null and record.shopIdExpression==null" >
          shop_id = #{record.shopId,jdbcType=BIGINT},
        </if>
        <if test="record.shopIdExpression!=null" >
          shop_id = ${record.shopIdExpression},
        </if>
        <if test="record.buyerAlipayNo!=null and record.buyerAlipayNoExpression==null" >
          buyer_alipay_no = #{record.buyerAlipayNo,jdbcType=VARCHAR},
        </if>
        <if test="record.buyerAlipayNoExpression!=null" >
          buyer_alipay_no = ${record.buyerAlipayNoExpression},
        </if>
        <if test="record.alipayId!=null and record.alipayIdExpression==null" >
          alipay_id = #{record.alipayId,jdbcType=BIGINT},
        </if>
        <if test="record.alipayIdExpression!=null" >
          alipay_id = ${record.alipayIdExpression},
        </if>
        <if test="record.buyerNick!=null and record.buyerNickExpression==null" >
          buyer_nick = #{record.buyerNick,jdbcType=VARCHAR},
        </if>
        <if test="record.buyerNickExpression!=null" >
          buyer_nick = ${record.buyerNickExpression},
        </if>
        <if test="record.buyerEmail!=null and record.buyerEmailExpression==null" >
          buyer_email = #{record.buyerEmail,jdbcType=VARCHAR},
        </if>
        <if test="record.buyerEmailExpression!=null" >
          buyer_email = ${record.buyerEmailExpression},
        </if>
        <if test="record.areaId!=null and record.areaIdExpression==null" >
          area_id = #{record.areaId,jdbcType=VARCHAR},
        </if>
        <if test="record.areaIdExpression!=null" >
          area_id = ${record.areaIdExpression},
        </if>
        <if test="record.buyerArea!=null and record.buyerAreaExpression==null" >
          buyer_area = #{record.buyerArea,jdbcType=VARCHAR},
        </if>
        <if test="record.buyerAreaExpression!=null" >
          buyer_area = ${record.buyerAreaExpression},
        </if>
      </trim>
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shufensoft.crm.biz.domain.generation.user.UserTaoBao" >
    update user_taobao
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      user_id_tb = #{userIdTb,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
      shop_id = #{shopId,jdbcType=BIGINT},
      buyer_alipay_no = #{buyerAlipayNo,jdbcType=VARCHAR},
      alipay_id = #{alipayId,jdbcType=BIGINT},
      buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      buyer_area = #{buyerArea,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>