<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<context:property-placeholder location="classpath:redis.properties" />-->

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="50" />    <!--最大连接数-->
        <property name="maxIdle" value="10" />     <!--最大空闲数-->
        <property name="maxWaitMillis" value="1000" />    <!--最大等待时间ms-->
        <property name="testOnBorrow" value="true" />
    </bean>

    <bean id="redisSentinelConfiguration"
          class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
        <property name="master">
            <bean class="org.springframework.data.redis.connection.RedisNode">
                <property name="name" value="redis_6379"></property>
            </bean>
        </property>
        <property name="sentinels">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg index="0" value="${redis.sentinel.host}" />
                    <constructor-arg index="1" value="${redis.sentinel.port}" />
                </bean>
            </set>
        </property>
    </bean>

    <bean id="jedisConnFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.master.host}"/>
        <property name="port" value="${redis.master.port}"/>
        <property name="timeout"  value="100000" />
        <property name="usePool"  value="true" />
        <property name="poolConfig" ref="jedisPoolConfig"/>
        <constructor-arg ref="redisSentinelConfiguration"/>
    </bean>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnFactory" />
    </bean>

</beans>