<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shufensoft.crm.biz.dao.generation.permission.AdminUserMapper" >
  <resultMap id="BaseResultMap" type="com.shufensoft.crm.biz.domain.generation.permission.AdminUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="max_id" property="maxId" jdbcType="BIGINT" />
    <result column="min_id" property="minId" jdbcType="BIGINT" />
    <result column="max_id" property="maxId" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="admin_user_id" property="adminUserId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <collection property="adminRoles"  ofType="com.shufensoft.crm.biz.domain.generation.permission.AdminRole" javaType="ArrayList"
                  column="id" select="com.shufensoft.crm.biz.dao.generation.permission.AdminRoleMapper.getAdminRolesByAdminUserId"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_modified, created_by, modified_by, is_deleted, seller_id, admin_user_id, 
    user_name, password, name, sex, age, mobile, phone, position, enabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shufensoft.crm.biz.domain.generation.permission.AdminUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <if test="!definedQueryColumns" >
      <include refid="Base_Column_List" />
    </if>
    <if test="definedQueryColumns" >
      <foreach collection="queryColumns" item="queryColumn" separator="," >
        ${queryColumn}
      </foreach>
    </if>
    from admin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from admin_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update admin_user
    set IS_DELETED = '1'
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shufensoft.crm.biz.domain.generation.permission.AdminUserExample" >
    update admin_user
    set IS_DELETED = '1'
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shufensoft.crm.biz.domain.generation.permission.AdminUser" useGeneratedKeys="true" keyProperty="id" >
    insert into admin_user (id, gmt_created, gmt_modified, 
      created_by, modified_by, is_deleted, 
      seller_id, admin_user_id, user_name, 
      password, name, sex, 
      age, mobile, phone, 
      position, enabled)
    values (#{id,jdbcType=BIGINT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=BIGINT}, #{adminUserId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.shufensoft.crm.biz.domain.generation.permission.AdminUser" useGeneratedKeys="true" keyProperty="id" >
    insert into admin_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="adminUserId != null" >
        admin_user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="adminUserId != null" >
        #{adminUserId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shufensoft.crm.biz.domain.generation.permission.AdminUserExample" resultType="java.lang.Integer" >
    select count(*) from admin_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update admin_user
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.adminUserId!=null and record.adminUserIdExpression==null" >
          admin_user_id = #{record.adminUserId,jdbcType=BIGINT},
        </if>
        <if test="record.adminUserIdExpression!=null" >
          admin_user_id = ${record.adminUserIdExpression},
        </if>
        <if test="record.userName!=null and record.userNameExpression==null" >
          user_name = #{record.userName,jdbcType=VARCHAR},
        </if>
        <if test="record.userNameExpression!=null" >
          user_name = ${record.userNameExpression},
        </if>
        <if test="record.password!=null and record.passwordExpression==null" >
          password = #{record.password,jdbcType=VARCHAR},
        </if>
        <if test="record.passwordExpression!=null" >
          password = ${record.passwordExpression},
        </if>
        <if test="record.name!=null and record.nameExpression==null" >
          name = #{record.name,jdbcType=VARCHAR},
        </if>
        <if test="record.nameExpression!=null" >
          name = ${record.nameExpression},
        </if>
        <if test="record.sex!=null and record.sexExpression==null" >
          sex = #{record.sex,jdbcType=VARCHAR},
        </if>
        <if test="record.sexExpression!=null" >
          sex = ${record.sexExpression},
        </if>
        <if test="record.age!=null and record.ageExpression==null" >
          age = #{record.age,jdbcType=INTEGER},
        </if>
        <if test="record.ageExpression!=null" >
          age = ${record.ageExpression},
        </if>
        <if test="record.mobile!=null and record.mobileExpression==null" >
          mobile = #{record.mobile,jdbcType=VARCHAR},
        </if>
        <if test="record.mobileExpression!=null" >
          mobile = ${record.mobileExpression},
        </if>
        <if test="record.phone!=null and record.phoneExpression==null" >
          phone = #{record.phone,jdbcType=VARCHAR},
        </if>
        <if test="record.phoneExpression!=null" >
          phone = ${record.phoneExpression},
        </if>
        <if test="record.position!=null and record.positionExpression==null" >
          position = #{record.position,jdbcType=VARCHAR},
        </if>
        <if test="record.positionExpression!=null" >
          position = ${record.positionExpression},
        </if>
        <if test="record.enabled!=null and record.enabledExpression==null" >
          enabled = #{record.enabled,jdbcType=BIT},
        </if>
        <if test="record.enabledExpression!=null" >
          enabled = ${record.enabledExpression},
        </if>
      </trim>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update admin_user
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      admin_user_id = #{record.adminUserId,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      enabled = #{record.enabled,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shufensoft.crm.biz.domain.generation.permission.AdminUser" >
    update admin_user
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
        <if test="record.adminUserId!=null and record.adminUserIdExpression==null" >
          admin_user_id = #{record.adminUserId,jdbcType=BIGINT},
        </if>
        <if test="record.adminUserIdExpression!=null" >
          admin_user_id = ${record.adminUserIdExpression},
        </if>
        <if test="record.userName!=null and record.userNameExpression==null" >
          user_name = #{record.userName,jdbcType=VARCHAR},
        </if>
        <if test="record.userNameExpression!=null" >
          user_name = ${record.userNameExpression},
        </if>
        <if test="record.password!=null and record.passwordExpression==null" >
          password = #{record.password,jdbcType=VARCHAR},
        </if>
        <if test="record.passwordExpression!=null" >
          password = ${record.passwordExpression},
        </if>
        <if test="record.name!=null and record.nameExpression==null" >
          name = #{record.name,jdbcType=VARCHAR},
        </if>
        <if test="record.nameExpression!=null" >
          name = ${record.nameExpression},
        </if>
        <if test="record.sex!=null and record.sexExpression==null" >
          sex = #{record.sex,jdbcType=VARCHAR},
        </if>
        <if test="record.sexExpression!=null" >
          sex = ${record.sexExpression},
        </if>
        <if test="record.age!=null and record.ageExpression==null" >
          age = #{record.age,jdbcType=INTEGER},
        </if>
        <if test="record.ageExpression!=null" >
          age = ${record.ageExpression},
        </if>
        <if test="record.mobile!=null and record.mobileExpression==null" >
          mobile = #{record.mobile,jdbcType=VARCHAR},
        </if>
        <if test="record.mobileExpression!=null" >
          mobile = ${record.mobileExpression},
        </if>
        <if test="record.phone!=null and record.phoneExpression==null" >
          phone = #{record.phone,jdbcType=VARCHAR},
        </if>
        <if test="record.phoneExpression!=null" >
          phone = ${record.phoneExpression},
        </if>
        <if test="record.position!=null and record.positionExpression==null" >
          position = #{record.position,jdbcType=VARCHAR},
        </if>
        <if test="record.positionExpression!=null" >
          position = ${record.positionExpression},
        </if>
        <if test="record.enabled!=null and record.enabledExpression==null" >
          enabled = #{record.enabled,jdbcType=BIT},
        </if>
        <if test="record.enabledExpression!=null" >
          enabled = ${record.enabledExpression},
        </if>
      </trim>
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shufensoft.crm.biz.domain.generation.permission.AdminUser" >
    update admin_user
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=BIGINT},
      admin_user_id = #{adminUserId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>