#set($layout = "/layout/blank.vm")
<!-- 百度 文本编辑器 -->
<div id="web">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <div class="BoxStyleA">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <i class="modal-logo interact"></i>
                        <ul class="breadcrumb" style="margin-left: 2px">
                            <li></li>
                            <li>客户互动</li>
                            <li>购物红包活动</li>
                            <li class="active">创建购物红包活动</li>
                        </ul><!-- .breadcrumb -->
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="BoxStyleA">
##                    <div class="BoxStyleATop">
##                        <span class="fl">创建积分兑换商品</span>
##                    </div>
                <br/>
                <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" id="uf" action="">

                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">活动标题(<font color="red">*</font>)：</label>
                        <div class="col-sm-9">
                            <input type="text" id="activityName" placeholder="" class="col-xs-12 col-sm-7" name="activityName" value="$!activity.activityName"/>
                            <span id="activity_name_err_msg" style="color: red;margin-left: 10px"></span>
                        </div>
                    </div>

                    <div class="form-group" style="text-align: left">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">商品名称(<font color="red">*</font>)：</label>
                        <div class="col-sm-9">
                            <input type="text" id="goodsName" placeholder="" class="col-xs-12 col-sm-7" name="goodsName" value="$!activityGoods.goodsName"/>
                            <span id="goods_name_err_msg" style="color: red;margin-left: 10px"></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group"  style="text-align: left">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">商品链接(<font color="red">*</font>)：</label>
                        <div class="col-sm-9">
                            <input type="text" id="goodsLink" placeholder="" class="col-xs-12 col-sm-7" name="goodsLink" value="$!activityGoods.goodsLink"/>
                            <span id="goods_link_err_msg" style="color: red;margin-left: 10px"></span>
                        </div>
                    </div>
                    #set($pri = $math.div($activityGoods.goodsPrice , 100))
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">店铺价格(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <input class="input-sm" type="text" placeholder="" name="goodsPrice" id="goodsPrice" style="width: 80px" onblur="checkPriceById('goodsPrice','price_err_msg');return;" value="$numTool.format($pri)"/>
                            <span class="lbl">元</span>
                            <span id="price_err_msg" style="color: red"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">商品来源(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <input name="goodsSource" type="radio" class="ace" value="JD"
                                   #if($!activityGoods.goodsSource == 'JD')
                                    checked="checked"
                                   #end
                                    />
                            <span class="lbl">京东</span>
                            &nbsp;&nbsp;
                            <input name="goodsSource" type="radio" class="ace" value="TMALL"
                                #if($!activityGoods.goodsSource == 'TMALL')
                                   checked="checked"
                                #end
                                    />
                            <span class="lbl">天猫</span>
                            &nbsp;&nbsp;
                            <input name="goodsSource" type="radio" class="ace" value="TB"
                                #if($!activityGoods.goodsSource == 'TB')
                                   checked="checked"
                                #end
                                    />
                            <span class="lbl">淘宝</span>
                            &nbsp;&nbsp;
                            <input name="goodsSource" type="radio" class="ace" value="YOUZAN"
                                #if($!activityGoods.goodsSource == 'YOUZAN')
                                   checked="checked"
                                #end
                                    />
                            <span class="lbl">微信店</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">店铺名称(<font color="red">*</font>)：</label>
                        <div class="col-sm-9">
                            <input type="text" id="shopName" placeholder="" class="col-xs-12 col-sm-7" name="shopName" value="$!activityGoods.shopName"/>
                        </div>
                        <span id="shop_name_err_msg" style="color: red"></span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">选择红包活动(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <input type="button" style="float:left;" class="btn_searchA" value="选择红包活动" onclick="selectHBPool()" />
                            <input type="hidden" name="hbPoolId" id="hbPoolId" value="$!activityGoods.hbPoolId"/>
                            <input type="hidden" name="activityId" id="activityId" value="$!activity.activityId"/>
                            <input type="hidden" name="activityGoodsId" id="activityGoodsId" value="$!activityGoods.activityGoodsId"/>
                            <span id="poolid_err_msg" style="color: red"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">限制商品数量(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <input class="input-sm" type="text" placeholder="" name="goodsQuantity" id="goodsQuantity" style="width: 80px"  readonly value="$!activityGoods.goodsQuantity"/>
                            <span id="amount_err_msg" style="color: red"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">红包总金额(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <input class="input-sm" type="text" placeholder="" name="hbcashAmount" id="hbcashAmount" style="width: 80px" readonly value="$!activityGoods.hbcashAmount"/>
                            <span class="lbl">元</span>
                            <span id="price_err_msg" style="color: red"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">可用范围(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <input name="applyRange" type="radio" class="ace" value="goods" checked="checked"/>
                            <span class="lbl">指定商品可用</span>
                            &nbsp;&nbsp;
                            <input name="applyRange" type="radio" class="ace" value="shop" disabled="disabled"/>
                            <span class="lbl">全店可用</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">红包释放时间(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <input name="releaseTime" type="radio" class="ace" value="24" checked="checked"
                                #if($!activityGoods.releaseTime == '24')
                                   checked="checked"
                                #end
                                    />
                            <span class="lbl">24小时</span>
                            &nbsp;&nbsp;
                            <input name="releaseTime" type="radio" class="ace" value="48"
                                #if($!activityGoods.releaseTime == '48')
                                   checked="checked"
                                #end
                                    />
                            <span class="lbl">48小时</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">开始时间(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                                            <span class="lbl">
                                                <input  type="text" name="beginDate"
                                                        id="beginDate" value="$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!activity.beginDate)" style="margin-left: 4px;" readonly/ >
                                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">结束时间(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                                            <span class="lbl">
                                                <input  type="text" name="endDate"
                                                        id="endDate" value="$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!activity.endDate)" style="margin-left: 4px;"  readonly/ >
                                            </span>
                        </div>
                    </div>
                    #set($char = "/")


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">商品图片：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <div style="width: 120px">
                                <img src="${rc.contextPath}$char$!activityGoods.goodsUrl" width="100px" height="100px"/>
                                <input type="file" id="goodsUrl" name="goodsUrl" style="margin-top: 5px"/>
                            </div>
                            <span style="color: blue">图片规格: 220*150, 不超过1M, 支持jpg,jpeg,png,bmp,gif格式</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">活动图片：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <div style="width: 120px">
                                <img src="${rc.contextPath}$char$!activity.activityPhotoUrl" width="100px" height="100px"/>
                                <input type="file" id="activityPhoto" name="activityPhoto" style="margin-top: 5px"/>
                            </div>
                            <span style="color: blue">图片规格: 220*150, 不超过1M, 支持jpg,jpeg,png,bmp,gif格式</span>
                        </div>
                    </div>

##                    <div class="form-group" style="margin-bottom: 110px">
##                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">商品图片(<font color="red">*</font>)：</label>
##                        <div class="col-sm-9" style="text-align: left">
##                            <div style="position: relative;float: left;width: 70px;height: 30px;text-align: center;border-radius: 2px;background-color: #428bca;">
##                                <a style="color: #fff;font-size: 14px;line-height: 30px;">选择</a>
##                                <div style="position: absolute;top:0;left:0;">
##                                    <img src="${rc.contextPath}$char$!activityGoods.goodsUrl" width="100px" height="100px"/>
##                                    <input type="file" name="goodsUrl" id="goodsUrl" style="width: 100px; height: 30px;background: rgb(255, 255, 255) none repeat scroll 0% 0%;filter:alpha(opacity:0);opacity: 0;"
##                                           onchange="getName(this,'thumb');" />
##                                </div>
##                            </div>
##                            <span class="thumb" style="display: block;float: left;margin-left: 5px;margin-top: 5px;"></span>
##                            <span style="color: blue;position: absolute;top: 110px;left:10px;">图片规格: 220*150, 不超过1M, 支持jpg,jpeg,png,bmp,gif格式</span>
##                        </div>
##                    </div>

##                    <div class="form-group" style="margin-bottom: 110px">
##                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">活动图片(<font color="red">*</font>)：</label>
##                        <div class="col-sm-9" style="text-align: left">
##                            <div style="position: relative;float: left;width: 70px;height: 30px;text-align: center;border-radius: 2px;background-color: #428bca;">
##                                <img src="${rc.contextPath}$char$!activity.activityPhotoUrl" width="100px" height="100px" style="float: left"/>
##                                <a style="color: #fff;font-size: 14px;line-height: 30px; float: left">选择</a>
##                                <div style="float: left">
##                                    <input type="file" name="activityPhoto" id="activityPhoto" style="width: 100px; height: 30px;background: rgb(255, 255, 255) none repeat scroll 0% 0%;filter:alpha(opacity:0);opacity: 0;"
##                                           onchange="getName(this,'thumb1');" />
##                                </div>
##                            </div>
##                            <span class="thumb1" style="display: block;float: left;margin-left: 5px;margin-top: 5px;"></span>
##                            <span style="color: blue;position: absolute;top: 110px;left:10px;">图片规格: 220*150, 不超过1M, 支持jpg,jpeg,png,bmp,gif格式</span>
##                        </div>
##                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">活动说明(<font color="red">*</font>)：</label>
                        <div class="col-sm-9" style="text-align: left">
                            <script id="editor" type="text/plain" style="width:90%; height:300px;" name="activityDesc">
                                $!activity.activityDesc
                            </script>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                        <div class="col-sm-9" style="text-align: left">
                            <a class="btn btn-info" href="" id="a_pre_view" target="_blank" onclick="preView(); return false;">
                                预览商品
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info" type="button" onclick="submitForm('uf',1);return false;">
                                <i class="icon-ok bigger-110"></i>
                                修改
                            </button>
                        </div>

                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- hbPoolModal -->
<div class="modal fade" id="hbpoolModal" tabindex="-1" role="dialog" aria-labelledby="hbpoolModal" aria-hidden="true">
    <div class="modal-dialog" style="width: 1200px;z-index:-999px">
        <div class="modal-content" >
            <div class="tiptop"><span>红包活动列表</span><a data-dismiss="modal" aria-hidden="true"></a></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <div class="BoxStyleA">
                            <div class="breadcrumbs" id="breadcrumbs">
                                <i class="modal-logo interact"></i>
                                <ul class="breadcrumb" style="margin-left: 2px">
                                    <li>
                                    <li>与客户互动</li>
                                    </li>
                                    <li class="active">红包查询</li>
                                </ul><!-- .breadcrumb -->
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <form class="form-search" id="searchForm">
                                        <div class="row">
                                            <div class="col-xs-16 col-sm-10">
                                                <div class="input-group">
                                                    <span class="ml20">红包活动名称：<input  type="text" name="name" /></span>
                                                    <span class="ml20">&nbsp;&nbsp;&nbsp;领取方式：
                                                        <select  style="width: 150px;" name="type">
                                                            <option value="common" >普通红包</option>
                                                        </select>
                                                    </span>
                                                    <span class="input-group-btn">
                                                        <input class="btn_searchA ml20" type="button" id="searchBut" value="搜索"/>
                                                    </span>
                                                    <span class="input-group-btn">
                                                        <input class="btn_searchA ml20" type="button" id="hbsubmitBut"  aria-hidden="true" data-dismiss="modal" value="确定"/>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div>&nbsp</div>
                        <div class="BoxStyleA">
                            <div class="BoxStyleATop">
                                <span class="fl">红包活动信息</span>
                            </div>
                            <table id="HBTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="center">
                                        <label>
                                        #*<input type="checkbox" class="ace" />*#
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>红包活动名称</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th>创建时间</th>
                                    <th>状态</th>
                                    <th>总数量</th>
                                    <th>领取数量</th>
                                    <th>剩余数量</th>
                                    <th>总金额(元)</th>
                                </tr>
                                </thead>
                                <tbody id="tbContainer">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
//    var ue = UE.getEditor('editor');

    var editor = new baidu.editor.ui.Editor({
        toolbars: [
            [ 'fullscreen', 'undo', 'redo','|',
                'bold', 'italic', 'underline','|', 'insertorderedlist', 'insertunorderedlist','|',
                'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify','|',
                'forecolor', 'backcolor','|',
                'customstyle', 'paragraph', 'fontfamily', 'fontsize','|'
            ]
        ]
    });

    editor.render("editor");
    createToken('uf');

</script>
<script type="text/javascript" charset="utf-8" src="${rc.contextPath}/media/js/admin/shoppingHongbao/shoppingHongbao.js"></script>
