<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shufensoft.crm.biz.dao.generation.send.MailStatusReportMapper" >
  <resultMap id="BaseResultMap" type="com.shufensoft.crm.biz.domain.generation.send.MailStatusReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="max_seller_id" property="maxSellerId" jdbcType="BIGINT" />
    <result column="min_seller_id" property="minSellerId" jdbcType="BIGINT" />
    <result column="avg_seller_id" property="avgSellerId" jdbcType="BIGINT" />
    <result column="count_seller_id" property="countSellerId" jdbcType="BIGINT" />
    <result column="sum_seller_id" property="sumSellerId" jdbcType="BIGINT" />
    <result column="max_status" property="maxStatus" jdbcType="BIGINT" />
    <result column="min_status" property="minStatus" jdbcType="BIGINT" />
    <result column="avg_status" property="avgStatus" jdbcType="BIGINT" />
    <result column="count_status" property="countStatus" jdbcType="BIGINT" />
    <result column="sum_status" property="sumStatus" jdbcType="VARCHAR" />
    <result column="max_submit_data" property="maxSubmitData" jdbcType="BIGINT" />
    <result column="min_submit_data" property="minSubmitData" jdbcType="BIGINT" />
    <result column="avg_submit_data" property="avgSubmitData" jdbcType="BIGINT" />
    <result column="count_submit_data" property="countSubmitData" jdbcType="BIGINT" />
    <result column="sum_submit_data" property="sumSubmitData" jdbcType="TIMESTAMP" />
    <result column="max_is_complaints" property="maxIsComplaints" jdbcType="BIGINT" />
    <result column="min_is_complaints" property="minIsComplaints" jdbcType="BIGINT" />
    <result column="avg_is_complaints" property="avgIsComplaints" jdbcType="BIGINT" />
    <result column="count_is_complaints" property="countIsComplaints" jdbcType="BIGINT" />
    <result column="sum_is_complaints" property="sumIsComplaints" jdbcType="VARCHAR" />
    <result column="max_is_unsubscribe" property="maxIsUnsubscribe" jdbcType="BIGINT" />
    <result column="min_is_unsubscribe" property="minIsUnsubscribe" jdbcType="BIGINT" />
    <result column="avg_is_unsubscribe" property="avgIsUnsubscribe" jdbcType="BIGINT" />
    <result column="count_is_unsubscribe" property="countIsUnsubscribe" jdbcType="BIGINT" />
    <result column="sum_is_unsubscribe" property="sumIsUnsubscribe" jdbcType="VARCHAR" />
    <result column="max_is_open" property="maxIsOpen" jdbcType="BIGINT" />
    <result column="min_is_open" property="minIsOpen" jdbcType="BIGINT" />
    <result column="avg_is_open" property="avgIsOpen" jdbcType="BIGINT" />
    <result column="count_is_open" property="countIsOpen" jdbcType="BIGINT" />
    <result column="sum_is_open" property="sumIsOpen" jdbcType="VARCHAR" />
    <result column="max_is_back" property="maxIsBack" jdbcType="BIGINT" />
    <result column="min_is_back" property="minIsBack" jdbcType="BIGINT" />
    <result column="avg_is_back" property="avgIsBack" jdbcType="BIGINT" />
    <result column="count_is_back" property="countIsBack" jdbcType="BIGINT" />
    <result column="sum_is_back" property="sumIsBack" jdbcType="VARCHAR" />
    <result column="max_is_success" property="maxIsSuccess" jdbcType="BIGINT" />
    <result column="min_is_success" property="minIsSuccess" jdbcType="BIGINT" />
    <result column="avg_is_success" property="avgIsSuccess" jdbcType="BIGINT" />
    <result column="count_is_success" property="countIsSuccess" jdbcType="BIGINT" />
    <result column="sum_is_success" property="sumIsSuccess" jdbcType="VARCHAR" />
    <result column="max_email_address" property="maxEmailAddress" jdbcType="BIGINT" />
    <result column="min_email_address" property="minEmailAddress" jdbcType="BIGINT" />
    <result column="avg_email_address" property="avgEmailAddress" jdbcType="BIGINT" />
    <result column="count_email_address" property="countEmailAddress" jdbcType="BIGINT" />
    <result column="sum_email_address" property="sumEmailAddress" jdbcType="VARCHAR" />
    <result column="max_seq_id" property="maxSeqId" jdbcType="BIGINT" />
    <result column="min_seq_id" property="minSeqId" jdbcType="BIGINT" />
    <result column="avg_seq_id" property="avgSeqId" jdbcType="BIGINT" />
    <result column="count_seq_id" property="countSeqId" jdbcType="BIGINT" />
    <result column="sum_seq_id" property="sumSeqId" jdbcType="VARCHAR" />
    <result column="max_is_deleted" property="maxIsDeleted" jdbcType="BIGINT" />
    <result column="min_is_deleted" property="minIsDeleted" jdbcType="BIGINT" />
    <result column="avg_is_deleted" property="avgIsDeleted" jdbcType="BIGINT" />
    <result column="count_is_deleted" property="countIsDeleted" jdbcType="BIGINT" />
    <result column="sum_is_deleted" property="sumIsDeleted" jdbcType="VARCHAR" />
    <result column="max_modified_by" property="maxModifiedBy" jdbcType="BIGINT" />
    <result column="min_modified_by" property="minModifiedBy" jdbcType="BIGINT" />
    <result column="avg_modified_by" property="avgModifiedBy" jdbcType="BIGINT" />
    <result column="count_modified_by" property="countModifiedBy" jdbcType="BIGINT" />
    <result column="sum_modified_by" property="sumModifiedBy" jdbcType="VARCHAR" />
    <result column="max_created_by" property="maxCreatedBy" jdbcType="BIGINT" />
    <result column="min_created_by" property="minCreatedBy" jdbcType="BIGINT" />
    <result column="avg_created_by" property="avgCreatedBy" jdbcType="BIGINT" />
    <result column="count_created_by" property="countCreatedBy" jdbcType="BIGINT" />
    <result column="sum_created_by" property="sumCreatedBy" jdbcType="VARCHAR" />
    <result column="max_gmt_modified" property="maxGmtModified" jdbcType="BIGINT" />
    <result column="min_gmt_modified" property="minGmtModified" jdbcType="BIGINT" />
    <result column="avg_gmt_modified" property="avgGmtModified" jdbcType="BIGINT" />
    <result column="count_gmt_modified" property="countGmtModified" jdbcType="BIGINT" />
    <result column="sum_gmt_modified" property="sumGmtModified" jdbcType="TIMESTAMP" />
    <result column="max_gmt_created" property="maxGmtCreated" jdbcType="BIGINT" />
    <result column="min_gmt_created" property="minGmtCreated" jdbcType="BIGINT" />
    <result column="avg_gmt_created" property="avgGmtCreated" jdbcType="BIGINT" />
    <result column="count_gmt_created" property="countGmtCreated" jdbcType="BIGINT" />
    <result column="sum_gmt_created" property="sumGmtCreated" jdbcType="TIMESTAMP" />
    <result column="max_id" property="maxId" jdbcType="BIGINT" />
    <result column="min_id" property="minId" jdbcType="BIGINT" />
    <result column="avg_id" property="avgId" jdbcType="BIGINT" />
    <result column="count_id" property="countId" jdbcType="BIGINT" />
    <result column="sum_id" property="sumId" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="seq_id" property="seqId" jdbcType="VARCHAR" />
    <result column="email_address" property="emailAddress" jdbcType="VARCHAR" />
    <result column="is_success" property="isSuccess" jdbcType="VARCHAR" />
    <result column="is_back" property="isBack" jdbcType="VARCHAR" />
    <result column="is_open" property="isOpen" jdbcType="VARCHAR" />
    <result column="is_unsubscribe" property="isUnsubscribe" jdbcType="VARCHAR" />
    <result column="is_complaints" property="isComplaints" jdbcType="VARCHAR" />
    <result column="submit_data" property="submitData" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        IS_DELETED = '0'
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_modified, created_by, modified_by, is_deleted, seq_id, email_address, 
    is_success, is_back, is_open, is_unsubscribe, is_complaints, submit_data, status, 
    seller_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shufensoft.crm.biz.domain.generation.send.MailStatusReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <if test="!definedQueryColumns" >
      <include refid="Base_Column_List" />
    </if>
    <if test="definedQueryColumns" >
      <foreach collection="queryColumns" item="queryColumn" separator="," >
        ${queryColumn}
      </foreach>
    </if>
    from mail_status_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mail_status_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update mail_status_report
    set IS_DELETED = '1'
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shufensoft.crm.biz.domain.generation.send.MailStatusReportExample" >
    update mail_status_report
    set IS_DELETED = '1'
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shufensoft.crm.biz.domain.generation.send.MailStatusReport" useGeneratedKeys="true" keyProperty="id" >
    insert into mail_status_report (id, gmt_created, gmt_modified, 
      created_by, modified_by, is_deleted, 
      seq_id, email_address, is_success, 
      is_back, is_open, is_unsubscribe, 
      is_complaints, submit_data, status, 
      seller_id)
    values (#{id,jdbcType=BIGINT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR}, 
      #{seqId,jdbcType=VARCHAR}, #{emailAddress,jdbcType=VARCHAR}, #{isSuccess,jdbcType=VARCHAR}, 
      #{isBack,jdbcType=VARCHAR}, #{isOpen,jdbcType=VARCHAR}, #{isUnsubscribe,jdbcType=VARCHAR}, 
      #{isComplaints,jdbcType=VARCHAR}, #{submitData,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.shufensoft.crm.biz.domain.generation.send.MailStatusReport" useGeneratedKeys="true" keyProperty="id" >
    insert into mail_status_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="seqId != null" >
        seq_id,
      </if>
      <if test="emailAddress != null" >
        email_address,
      </if>
      <if test="isSuccess != null" >
        is_success,
      </if>
      <if test="isBack != null" >
        is_back,
      </if>
      <if test="isOpen != null" >
        is_open,
      </if>
      <if test="isUnsubscribe != null" >
        is_unsubscribe,
      </if>
      <if test="isComplaints != null" >
        is_complaints,
      </if>
      <if test="submitData != null" >
        submit_data,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="seqId != null" >
        #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="emailAddress != null" >
        #{emailAddress,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=VARCHAR},
      </if>
      <if test="isBack != null" >
        #{isBack,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null" >
        #{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="isUnsubscribe != null" >
        #{isUnsubscribe,jdbcType=VARCHAR},
      </if>
      <if test="isComplaints != null" >
        #{isComplaints,jdbcType=VARCHAR},
      </if>
      <if test="submitData != null" >
        #{submitData,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shufensoft.crm.biz.domain.generation.send.MailStatusReportExample" resultType="java.lang.Integer" >
    select count(*) from mail_status_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mail_status_report
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.seqId!=null and record.seqIdExpression==null" >
          seq_id = #{record.seqId,jdbcType=VARCHAR},
        </if>
        <if test="record.seqIdExpression!=null" >
          seq_id = ${record.seqIdExpression},
        </if>
        <if test="record.emailAddress!=null and record.emailAddressExpression==null" >
          email_address = #{record.emailAddress,jdbcType=VARCHAR},
        </if>
        <if test="record.emailAddressExpression!=null" >
          email_address = ${record.emailAddressExpression},
        </if>
        <if test="record.isSuccess!=null and record.isSuccessExpression==null" >
          is_success = #{record.isSuccess,jdbcType=VARCHAR},
        </if>
        <if test="record.isSuccessExpression!=null" >
          is_success = ${record.isSuccessExpression},
        </if>
        <if test="record.isBack!=null and record.isBackExpression==null" >
          is_back = #{record.isBack,jdbcType=VARCHAR},
        </if>
        <if test="record.isBackExpression!=null" >
          is_back = ${record.isBackExpression},
        </if>
        <if test="record.isOpen!=null and record.isOpenExpression==null" >
          is_open = #{record.isOpen,jdbcType=VARCHAR},
        </if>
        <if test="record.isOpenExpression!=null" >
          is_open = ${record.isOpenExpression},
        </if>
        <if test="record.isUnsubscribe!=null and record.isUnsubscribeExpression==null" >
          is_unsubscribe = #{record.isUnsubscribe,jdbcType=VARCHAR},
        </if>
        <if test="record.isUnsubscribeExpression!=null" >
          is_unsubscribe = ${record.isUnsubscribeExpression},
        </if>
        <if test="record.isComplaints!=null and record.isComplaintsExpression==null" >
          is_complaints = #{record.isComplaints,jdbcType=VARCHAR},
        </if>
        <if test="record.isComplaintsExpression!=null" >
          is_complaints = ${record.isComplaintsExpression},
        </if>
        <if test="record.submitData!=null and record.submitDataExpression==null" >
          submit_data = #{record.submitData,jdbcType=TIMESTAMP},
        </if>
        <if test="record.submitDataExpression!=null" >
          submit_data = ${record.submitDataExpression},
        </if>
        <if test="record.status!=null and record.statusExpression==null" >
          status = #{record.status,jdbcType=VARCHAR},
        </if>
        <if test="record.statusExpression!=null" >
          status = ${record.statusExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
      </trim>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mail_status_report
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
      seq_id = #{record.seqId,jdbcType=VARCHAR},
      email_address = #{record.emailAddress,jdbcType=VARCHAR},
      is_success = #{record.isSuccess,jdbcType=VARCHAR},
      is_back = #{record.isBack,jdbcType=VARCHAR},
      is_open = #{record.isOpen,jdbcType=VARCHAR},
      is_unsubscribe = #{record.isUnsubscribe,jdbcType=VARCHAR},
      is_complaints = #{record.isComplaints,jdbcType=VARCHAR},
      submit_data = #{record.submitData,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      seller_id = #{record.sellerId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shufensoft.crm.biz.domain.generation.send.MailStatusReport" >
    update mail_status_report
    <set >
      <trim suffixOverrides="," >
        <if test="record.gmtCreated!=null and record.gmtCreatedExpression==null" >
          gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtCreatedExpression!=null" >
          gmt_created = ${record.gmtCreatedExpression},
        </if>
        <if test="record.gmtModified!=null and record.gmtModifiedExpression==null" >
          gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="record.gmtModifiedExpression!=null" >
          gmt_modified = ${record.gmtModifiedExpression},
        </if>
        <if test="record.createdBy!=null and record.createdByExpression==null" >
          created_by = #{record.createdBy,jdbcType=VARCHAR},
        </if>
        <if test="record.createdByExpression!=null" >
          created_by = ${record.createdByExpression},
        </if>
        <if test="record.modifiedBy!=null and record.modifiedByExpression==null" >
          modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
        </if>
        <if test="record.modifiedByExpression!=null" >
          modified_by = ${record.modifiedByExpression},
        </if>
        <if test="record.isDeleted!=null and record.isDeletedExpression==null" >
          is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
        </if>
        <if test="record.isDeletedExpression!=null" >
          is_deleted = ${record.isDeletedExpression},
        </if>
        <if test="record.seqId!=null and record.seqIdExpression==null" >
          seq_id = #{record.seqId,jdbcType=VARCHAR},
        </if>
        <if test="record.seqIdExpression!=null" >
          seq_id = ${record.seqIdExpression},
        </if>
        <if test="record.emailAddress!=null and record.emailAddressExpression==null" >
          email_address = #{record.emailAddress,jdbcType=VARCHAR},
        </if>
        <if test="record.emailAddressExpression!=null" >
          email_address = ${record.emailAddressExpression},
        </if>
        <if test="record.isSuccess!=null and record.isSuccessExpression==null" >
          is_success = #{record.isSuccess,jdbcType=VARCHAR},
        </if>
        <if test="record.isSuccessExpression!=null" >
          is_success = ${record.isSuccessExpression},
        </if>
        <if test="record.isBack!=null and record.isBackExpression==null" >
          is_back = #{record.isBack,jdbcType=VARCHAR},
        </if>
        <if test="record.isBackExpression!=null" >
          is_back = ${record.isBackExpression},
        </if>
        <if test="record.isOpen!=null and record.isOpenExpression==null" >
          is_open = #{record.isOpen,jdbcType=VARCHAR},
        </if>
        <if test="record.isOpenExpression!=null" >
          is_open = ${record.isOpenExpression},
        </if>
        <if test="record.isUnsubscribe!=null and record.isUnsubscribeExpression==null" >
          is_unsubscribe = #{record.isUnsubscribe,jdbcType=VARCHAR},
        </if>
        <if test="record.isUnsubscribeExpression!=null" >
          is_unsubscribe = ${record.isUnsubscribeExpression},
        </if>
        <if test="record.isComplaints!=null and record.isComplaintsExpression==null" >
          is_complaints = #{record.isComplaints,jdbcType=VARCHAR},
        </if>
        <if test="record.isComplaintsExpression!=null" >
          is_complaints = ${record.isComplaintsExpression},
        </if>
        <if test="record.submitData!=null and record.submitDataExpression==null" >
          submit_data = #{record.submitData,jdbcType=TIMESTAMP},
        </if>
        <if test="record.submitDataExpression!=null" >
          submit_data = ${record.submitDataExpression},
        </if>
        <if test="record.status!=null and record.statusExpression==null" >
          status = #{record.status,jdbcType=VARCHAR},
        </if>
        <if test="record.statusExpression!=null" >
          status = ${record.statusExpression},
        </if>
        <if test="record.sellerId!=null and record.sellerIdExpression==null" >
          seller_id = #{record.sellerId,jdbcType=BIGINT},
        </if>
        <if test="record.sellerIdExpression!=null" >
          seller_id = ${record.sellerIdExpression},
        </if>
      </trim>
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shufensoft.crm.biz.domain.generation.send.MailStatusReport" >
    update mail_status_report
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      seq_id = #{seqId,jdbcType=VARCHAR},
      email_address = #{emailAddress,jdbcType=VARCHAR},
      is_success = #{isSuccess,jdbcType=VARCHAR},
      is_back = #{isBack,jdbcType=VARCHAR},
      is_open = #{isOpen,jdbcType=VARCHAR},
      is_unsubscribe = #{isUnsubscribe,jdbcType=VARCHAR},
      is_complaints = #{isComplaints,jdbcType=VARCHAR},
      submit_data = #{submitData,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>